{% extends 'accounts/base.html'%}
{% load static %} 

<body id="body"> 
  {% block content %}
  <section class="intro_section page_mainslider ds">
    <div class="flexslider" data-dots="true" data-nav="te">
        <ul class="slides">
            <li> <img src="{% static 'img/picz/nicepicboys.jpg' %}"  alt="one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                      <h2  style=" font-size: 50px;
                                      ">CEILINGS</h2>
                                         </div>
                                   
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p > The beauty of your home or office is all that matters. As Mukumba Ceilings we are committed to making your resting and working enviroments look Much More Great.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src=" {% static 'img/shinning1.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                     
                                          <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                          ">SHINNING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="color:#222222;">Walls that are shinned have a unique look and that makes a home feels like Home.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src="{% static 'img/picz/frame.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                            <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                            ">FRAMMING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="color:#222222;">Our main goal here is to ensure that your beautiful ceilings is attached to a strong frame that guarantees Long Life with no cracks</strong>.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
        </ul>
    </div>
    <section id="about" class="ds ms page_about parallax section_padding_top_130 section_padding_bottom_75 table_section table_section_md columns_margin_bottom_30">
      <div class="container" >
        <div class="row" style="margin-left: 15px;">
          <div id="image001"class="col-md-6 text-center">
            <div class="with_frame_image"> <img src="{% static 'img/picZ/nicebg01.jpg' %}" alt="" class="rounded"> </div>
          </div>
          <div class="col-md-6">
            <h2 class="section_header with_line" style="color:#000;font-size: 30px;">About MCC</h2>
            <p class="fontsize_20">11 years upto now, Mukumba Ceilings has successfully expanded its operation .</p>
            <p>Since our establishement in 2008,  Mukumba Ceilings has established and grown to be a diverse company providing local and national clients with high quality products and excellent workmanship.
            </p>
            <p class="fontsize_20"></p>
            <p>Mukumba Ceilings offers a complete range of products for skimmed ceiling material and all other accessories.
            </p>
            <p class="fontsize_20"></p>
            <p>We are also experts on using any kind of materials for backslashing,ceilings and walls shinning.
            </p>
            <p class="fontsize_20"></p>
            <p>Mukumba Ceilings provides proffessional ceiling designs for home and for offices. We offer our services at a reasonably very low prices.
            </p>
            <div class="content-justify vertical-center content-margins topmargin_25">
              <div>
                <h5 class="highlight bottommargin_0">Stewart Mukumba</h5>
                
          </div>
        </div>
      </div>
    
    </section>
   {% endblock %}

</body>



