{% extends 'accounts/base.html'%}
{% load static %} 

<body id="body"> 
    
  {% block content %}
 
  <section class="intro_section page_mainslider ds">
    <div class="flexslider" data-dots="true" data-nav="te">
        <ul class="slides">
            <li> <img src="{% static 'img/picz/nicepicboys.jpg' %}"  alt="one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                      <h2  style=" font-size: 50px;
                                      ">CEILINGS</h2>
                                         </div>
                                   
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p > The beauty of your home or office is all that matters. As Mukumba Ceilings we are committed to making your resting and working enviroments look Much More Great.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src=" {% static 'img/shinning1.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                     
                                          <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                          ">SHINNING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="color:#222222;">Walls that are shinned have a unique look and that makes a home feels like Home.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src="{% static 'img/picz/frame.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                            <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                            ">FRAMMING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="color:#222222;">Our main goal here is to ensure that your beautiful ceilings is attached to a strong frame that guarantees Long Life with no cracks</strong>.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
        </ul>
    </div>
    
     <div class="container">

        <h1 >Thank you so much</h1>
        <p style="color: cadetblue; margin-top: 10px"><i>If you have anything to say about our work.
            Dont hesitate, please let us know through our email
        </i> </p>
     
        <form action="gallery" method="post">
            {% csrf_token%}
            <label for="name">Full Name<span class="required">*</span></label>
            {{form.contact_name}}
            <label for="name">Email Address <span class="required">*</span></label>
            {{form.contact_email}}
            <label for="name">Comment<span class="required">*</span></label>
            {{form.contact_message}}
           
            <div class="col-sm-12 bottommargin_0">
              <div class="contact-form-submit topmargin_10"> <button type="submit" id="contact_form_submit" name="contact_submit"  size="30" class="theme_button color1 wide_button margin_0" bgcolor='teal'>Submit Comment
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button> </div>
            </div>
 
        </form>
        {% for message in messages %} 
        {{message}}
        {% endfor%}
    </div>
   </div>
        
     
    
   
   {% endblock %}

</body>



